* text=auto !eol
/Aion.cs -text
/Aion.isxAion.csproj -text
/Aion.isxAion.sln -text
/Character.cs -text
/Entity.cs -text
/Event.cs -text
/Extension.cs -text
/PreBuild.bat -text
Properties/AssemblyInfo.cs -text
/Radar.cs -text
/Util.cs -text
bin/Debug/PostBuild.bat -text
bin/Release/PostBuild.bat -text
/isxAion.cs -text
